body{
	font-family:Arial,sans-serif;
	font-size:100%;
}

header{
	border:none !important;
	background: -webkit-linear-gradient(#3C3C3C,#333) !important;	
	box-shadow:0px 0px 20px #000;
}

header h1{
	margin:5px 4em !important;
	color:#81f312; 
	text-shadow: 1px 1px 1px #684925;
	font-size:1.5rem !important;
		/*background-image: url(../imagenes/logo_herbamovil22.png) !important;
		background-repeat:no-repeat !important;*/
	}

	#productos #listado-productos{
		margin:0px;
	}

	.field{
		margin-top:5px;
		margin-bottom:5px;
	}

	#foto-cont{javascript:void(0)
		background-position: center center;
		width:250px;
		height:300px;
		margin: auto auto -40px auto;
/*	background-size:cover;
box-shadow:0px 0px 20px #000;*/
}

#foto,
#foto-val{
	/*	background-position: center center;*/
	width:250px;
	height:250px;
	margin:auto;
	background-size:cover;
	box-shadow:0px 0px 20px #000;
	
	-moz-border-radius-topleft:20px;
	-moz-border-radius-topright:20px;
	-moz-border-radius-bottomleft:20px;
	-moz-border-radius-bottomright:20px;
	
	-webkit-border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-webkit-border-bottom-right-radius:20px;
}

.ui-collapsible-heading .ui-btn-icon-left .ui-btn-inner {
	padding-left: 40px;
	box-shadow:0px 0px 10px #000;
}

#nombre-val {
	margin: -10px auto 5px auto;
	color: #000;
	text-shadow: rgb(100, 179, 63) 0.1em 0.0em 0.2em;
	/*COLOR VERDE*/
	/*color: rgb(100, 179, 63);
	text-shadow: rgb(0, 0, 0) 0.1em 0.0em 0.2em;*/
	text-align: center;
}

.ui-li-thumb {
	max-height: 75px;
}

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit{
	min-height: 20px;
	padding-left: 100px;
}

.imgLista{
	height: 40px;
	width: 40px;
}


.ui-li-thumb, .ui-listview .ui-li-icon {
	left: -0.5px;
	top: -1.9px;
}
/*
.ui-li-desc { white-space: normal;}
.ui-li-heading { white-space: normal;}*/

li {
	list-style: none;
	clear: both;
	padding-top: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 0px;
	margin-left: -50px;
	border-bottom: solid 1px #CCCCCC;
	display: block;
}
li a{
	text-decoration: none;
	display: block;
	margin: 0px;
}
li .line1 {
	font-size:1rem !important;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	font-weight: bold;
}
li .line2 {
	margin-top: 4px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-bottom: 10px;
	color: #666666;
}
li .action-icon {
	position: absolute;
	right: 5%;
	margin-top: -50px;
}

.justifyText{
	text-align : justify;
}

p{
	font-size:1rem !important;
}
