#productos #listado-productos{
	margin:0px;
}

footer .ui-btn-active{
	background:none !important;
	background-color:#dfa243 !important;
	text-shadow: 0 1px 1px #000;
}

.field{
	margin-top:5px;
	margin-bottom:5px;
}

#foto-cont{javascript:void(0)
	background-position: center center;
	width:250px;
	height:300px;
	margin: auto auto -40px auto;
/*	background-size:cover;
	box-shadow:0px 0px 20px #000;*/
}

#foto,
#foto-val{
/*	background-position: center center;*/
	width:250px;
	height:250px;
	margin:auto;
	background-size:cover;
	box-shadow:0px 0px 20px #000;
}

.ui-collapsible-heading .ui-btn-icon-left .ui-btn-inner {
	padding-left: 40px;
	box-shadow:0px 0px 10px #000;
}

#nombre-val {
	margin: -10px auto 5px auto;
	color: rgb(100, 179, 63);
	text-shadow: rgb(0, 0, 0) 0.1em 0.0em 0.2em;
	text-align: center;
}

.ui-li-thumb {
	max-height: 75px;
}

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit{
	min-height: 20px;
	padding-left: 100px;
}

.imgLista{
	height: 40px;
	width: 40px;
}

/* Header */
.jqm-header {
	background: #000;
	border-top: 3px solid #6ABA2F;
	margin-top: -5px;
}

/* Header logo */
.jqm-header h1.jqm-logo {
	font-size: 1em;
	margin: .2em 3.375em;
	margin-left: 20px;
}

.jqm-header .jqm-logo a {
	display: inline-block;
	text-decoration: none;
	min-height: 40px;
}

.jqm-header .jqm-logo img {
	display: block;
	width: 200px;
	height: auto;
}

.jqm-demos-home .jqm-header .jqm-logo img {
	display: inline-block;
}

/* Header buttons */
.jqm-header > .ui-btn,
.jqm-header.ui-header-fixed.ui-fixed-hidden > .ui-btn-icon-notext {
	top: 1.1em;
}

.jqm-header > .ui-btn,
.jqm-header > .ui-btn .ui-btn-inner {
	border: none;
	background: none;
}

.ui-header>.ui-btn{
	display: inline-block;
	margin: 0px -13px 0px 0px;
}

.jqm-header > .ui-btn,
.jqm-header > .ui-btn .ui-icon {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#volver{
	margin: 10px 0px 0px -12px;
}
 
/* Responsive */
@media (min-width:46em) {
	/* Header logo */
	.jqm-header h1.jqm-logo {
		text-align: left;
		margin: .8em 0 .8em 25%;
	}
	.jqm-header .jqm-logo a {
		min-height: 57px;
	}
	.jqm-header .jqm-logo img {
		display: block;
		width: 200px;
		height: auto;
	}
	.jqm-demos-home .jqm-header .jqm-logo img {
		display: block;
		width: 240px;
		height: auto;
		padding-left:.7em;
		margin-top:.5em;
		margin-bottom:.6em;
	}

@media (min-width:60em) {
	/* Header */
	.jqm-header h1.jqm-logo {
		margin-left: 25%;
	}
	.jqm-header .jqm-navmenu-link {
		left: 15%;
	}
}


/*
#ver{
	color:#563919 !important;
	text-shadow:1px 1px 1px #fcd799 !important;
} 

#ver .titulo{
	font-size:30px;
	font-weight: bold;
}

#ver .descripcion{
	font-size:22px;
}

#ver .fecha{
	font-size:12px;
	color:#333;
	text-shadow:none !important;
}
*/
